{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="container">
    <h2 class="name">Roger Lefort</h2>
    <div id="container">
      <img
        src="https://cdn0.iconfinder.com/data/icons/mobile-device/512/email-mail-mailer-message-round-keyboard-2-512.png"
        alt="email"
        style="float: left; width:25px;height:25px;"/>
      <ul class="contact">
        rogerlefort@icloud.com
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="https://www.pngfind.com/pngs/m/101-1013043_download-linkedin-logo-round-png-transparent-png.png"
        alt="linkedin"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://www.linkedin.com/in/roger-lefort/">LinkedIn: www.linkedin.com/in/roger-lefort</a>
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="http://iconsetc.com/icons-watermarks/flat-circle-white-on-blue/foundation/foundation_social-github/foundation_social-github_flat-circle-white-on-blue_512x512.png"
        alt="github"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://github.com/tiroger">Github: www.github.com/tiroger</a>
      </ul>
    </div>
  </div>

  <div class="line"></div>

  <div class="container">
    <h2 class="name">Wendy Guo</h2>
    <div id="container">
      <img
        src="https://cdn0.iconfinder.com/data/icons/mobile-device/512/email-mail-mailer-message-round-keyboard-2-512.png"
        alt="email"
        style="float: left; width:25px;height:25px;"/>
      <ul class="contact">
        Xg224@cornell.edu
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="https://www.pngfind.com/pngs/m/101-1013043_download-linkedin-logo-round-png-transparent-png.png"
        alt="linkedin"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://www.linkedin.com/in/xiaoqiwendyguo">LinkedIn: www.linkedin.com/in/xiaoqiwendyguo</a>
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="http://iconsetc.com/icons-watermarks/flat-circle-white-on-blue/foundation/foundation_social-github/foundation_social-github_flat-circle-white-on-blue_512x512.png"
        alt="github"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://github.com/wendyguo715">Github: www.github.com/wendyguo715</a>
      </ul>
    </div>
  </div>

  <div class="line"></div>

  <div class="container">
    <h2 class="name">Nelson Leung</h2>
    <div id="container">
      <img
        src="https://cdn0.iconfinder.com/data/icons/mobile-device/512/email-mail-mailer-message-round-keyboard-2-512.png"
        alt="email"
        style="float: left; width:25px;height:25px;"/>
      <ul class="contact">
        nelsonleungnyc@gmail.com
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="https://www.pngfind.com/pngs/m/101-1013043_download-linkedin-logo-round-png-transparent-png.png"
        alt="linkedin"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://www.linkedin.com/in/nelsonleungnyc">Linkedin: www.linkedin.com/in/nelsonleungnyc</a>
      </ul>
    </div>

    <div id="container" class="contact">
      <img
        src="http://iconsetc.com/icons-watermarks/flat-circle-white-on-blue/foundation/foundation_social-github/foundation_social-github_flat-circle-white-on-blue_512x512.png"
        alt="github"
        style="float: left; width:25px;height:25px;"/>
      <ul>
        <a href="https://github.com/NxLeung">Github: www.github.com/NxLeung</a>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
