{% extends "layout.html" %} {% block content %}
<div class="home">
 <h2>Demo Day</h2>
 <p>
   In preparation for demo day, we will focus on refine the user interface and
   further research weather impact on play choices.
 </p>
 <ul>
   <li class='demo'>
     Route the model with the user interface to predict the next play type
   </li>
   <li class='demo'>
     Further research on weather impacts by scaling down the datasets to
     analyze the teams that are impact that snow or rain
   </li>
   <li class='demo'>Full Deployment</li>
 </ul>
 <div class="line"></div>
 <div id="container">
   <img src="static/images/nfl_logo.jpg" style="float: center; width:600px;height:400px;/>
 </div>
 <div class="line"></div>
</div>
{% endblock %}
