{% extends "layout.html" %} {% block content %}
<div id="visualizations" class="container">
  <h2>NFL Play-by-Play Data 2009-2018</h2>
  <br>
  <!-- <h3>32 teams</h3>
  <br> -->
  <div>
    <img class="img-fluid" src="./static/images/nfl_team_logos.jpg">
  </div>
  <br>
  <div class="row">
    <div class="col-6">
      <img class="img-fluid" src="./static/images/matchup.jpg" style="width:100%;height:auto;">
    </div>
    <div class="col-6">
      <img class="img-fluid" src="./static/images/plays.gif" style="width:100%;height:auto;">
      <div class='tableauPlaceholder' id='viz1573052751776' style='position: relative'><noscript><a href='#'><img
              alt=' '
              src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NF&#47;NFLData_15730201347990&#47;PlayTypeCounts&#47;1_rss.png'
              style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
          <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
          <param name='embed_code_version' value='3' />
          <param name='site_root' value='' />
          <param name='name' value='NFLData_15730201347990&#47;PlayTypeCounts' />
          <param name='tabs' value='no' />
          <param name='toolbar' value='yes' />
          <param name='static_image'
            value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;NF&#47;NFLData_15730201347990&#47;PlayTypeCounts&#47;1.png' />
          <param name='animate_transition' value='yes' />
          <param name='display_static_image' value='yes' />
          <param name='display_spinner' value='yes' />
          <param name='display_overlay' value='yes' />
          <param name='display_count' value='yes' /></object></div>
      <script type='text/javascript'>
        var divElement = document.getElementById('viz1573052751776');
        var vizElement = divElement.getElementsByTagName('object')[0];
        vizElement.style.width = '100%';
        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
      </script>
    </div>
  </div>
<br>
  <div>
    <div class='tableauPlaceholder' id='viz1573055166651' style='position: relative'><noscript><a href='#'><img alt=' '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;6H&#47;6HJC8CZNR&#47;1_rss.png'
            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' />
        <param name='path' value='shared&#47;6HJC8CZNR' />
        <param name='toolbar' value='yes' />
        <param name='static_image'
          value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;6H&#47;6HJC8CZNR&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='filter' value='publish=yes' /></object></div>
    <script type='text/javascript'>
      var divElement = document.getElementById('viz1573055166651');
      var vizElement = divElement.getElementsByTagName('object')[0];
      vizElement.style.width = '1016px';
      vizElement.style.height = '991px';
      var scriptElement = document.createElement('script');
      scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </div>
  <!-- <div class="line"></div> -->





  <!-- Tableau scripts for visualizations -->
  <script
    type="text/javascript"
    src="https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js"
  ></script>
</div>
{% endblock %}
