{% extends "layout.html" %} {% block content %}
<div id="visualizations" class="container">
  <h2>NFL Play-by-Play Data 2009-2018</h2>
  <h4>32 teams, 10 seasons, 2,526 games, 449,371 plays!</h4>

  <div class="tableauPlaceholder" style="width: 1200px; height: 607px;">
    <object
      class="tableauViz"
      width="1200px"
      height="607px"
      style="display:none;"
      ><param
        name="host_url"
        value="https%3A%2F%2Fprod-useast-a.online.tableau.com%2F"/>
      <param name="embed_code_version" value="3"/>
      <param name="site_root" value="&#47;t&#47;rogerlefort"/><param
        name="name"
        value="Visualizations&#47;CountofPlayType"/><param
        name="tabs"
        value="no"/><param name="toolbar" value="yes"/><param
        name="showAppBanner"
        value="false"/><param name="filter" value="iframeSizedToWindow=true"
    /></object>
  </div>

  <div class="line"></div>

  <div class="tableauPlaceholder" style="width: 1200; height: 607px;">
    <object class="tableauViz" width="1200" height="607" style="display:none;"
      ><param
        name="host_url"
        value="https%3A%2F%2Fprod-useast-a.online.tableau.com%2F"/>
      <param name="embed_code_version" value="3"/>
      <param name="site_root" value="&#47;t&#47;rogerlefort"/><param
        name="name"
        value="Visualizations&#47;BreakdownofOffensivePlays"/><param
        name="tabs"
        value="no"/><param name="toolbar" value="yes"/><param
        name="showAppBanner"
        value="false"/><param name="filter" value="iframeSizedToWindow=true"
    /></object>
  </div>

  <div class="line"></div>

  <h4>NFL coaches are remarkably predictable in their play calling!</h4>

  <div class="tableauPlaceholder" style="width: 1200px; height: 607px;">
    <object
      class="tableauViz"
      width="1200px"
      height="607px"
      style="display:none;"
      ><param
        name="host_url"
        value="https%3A%2F%2Fprod-useast-a.online.tableau.com%2F"/>
      <param name="embed_code_version" value="3"/>
      <param name="site_root" value="&#47;t&#47;rogerlefort"/><param
        name="name"
        value="Visualizations&#47;PassBreakdown"/><param
        name="tabs"
        value="no"/><param name="toolbar" value="yes"/><param
        name="showAppBanner"
        value="false"/><param name="filter" value="iframeSizedToWindow=true"
    /></object>
  </div>

  <div class="tableauPlaceholder" style="width: 1200; height: 607;">
    <object class="tableauViz" width="1200" height="607" style="display:none;"
      ><param
        name="host_url"
        value="https%3A%2F%2Fprod-useast-a.online.tableau.com%2F"/>
      <param name="embed_code_version" value="3"/>
      <param name="site_root" value="&#47;t&#47;rogerlefort"/><param
        name="name"
        value="Visualizations&#47;RunBreakdown"/><param
        name="tabs"
        value="no"/><param name="toolbar" value="yes"/><param
        name="showAppBanner"
        value="false"/><param name="filter" value="iframeSizedToWindow=true"
    /></object>
  </div>

  <div class="line"></div>

  <div class="tableauPlaceholder" style="width: 1200px; height: 607px;">
    <object
      class="tableauViz"
      width="1200px"
      height="607px"
      style="display:none;"
      ><param
        name="host_url"
        value="https%3A%2F%2Fprod-useast-a.online.tableau.com%2F"/>
      <param name="embed_code_version" value="3"/>
      <param name="site_root" value="&#47;t&#47;rogerlefort"/><param
        name="name"
        value="Visualizations&#47;PassRunHisto"/><param
        name="tabs"
        value="no"/><param name="toolbar" value="yes"/><param
        name="showAppBanner"
        value="false"/><param name="filter" value="iframeSizedToWindow=true"
    /></object>
  </div>

  <!-- Tableau scripts for visualizations -->
  <script
    type="text/javascript"
    src="https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js"
  ></script>
</div>
{% endblock %}
